@media screen and (max-width: 768px) {
  footer > p {
    margin-left: 0;
  }

  .dropdown-menu {
    right: 0rem !important;
    top: 1.5rem !important;
  }
  .user-notify > .dropdown-menu {
    right: 0rem !important;
    top: 1rem !important;
  }
  
}
