@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  background-color: #e0e3e1;
  min-height: 100vh;
}

.container {
  height: 100%;
  animation: fade 1s ease;
}

.login-area {
  width: 557px;
  height: 600px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(27, 50, 79, 0.06);
  border-top: 5px solid #4723d9;
}

.login-elements > img {
  width: 320px;
}

.login-elements > h2 {
  width: 90%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 65px;
  border-radius: 8px;
  border: 1px solid #dcdcdc80;
  background-color: #e0e3e1;
}

.form-group > div > input {
  outline: none;
  width: 90%;
  border: none;
  background-color: #e0e3e1;
}

.form-group > div > input::placeholder {
  color: #c2c8cf;
}

.form-check {
  margin-left: 7rem;
}

.form-check > input {
  width: 18x;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #abc9ed;
  background-color: #ffffff;
  border-radius: 3px;
}

.login-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 12px 0 15px;
  margin-top: 1rem;
}

.login-footer > a {
  text-decoration: none;
  cursor: pointer;
}

.login-footer > a:hover {
  text-decoration: underline;
}
