.news-lessons hr,
p,
h1 {
  margin-left: 2rem;
}

.news-lessons hr {
  width: 95%;
}

#news-lessons-table {
  width: 980px;
  height: 508px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  border: 1px solid #eaecf0;
  overflow-y: auto;
}

#news-users-table {
  width: 350px;
  height: 245px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  border: 1px solid #eaecf0;
  overflow-y: auto;
}

#news-updates-table {
  width: 350px;
  height: 245px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  border: 1px solid #eaecf0;
  overflow-y: auto;
}

table.custom-table th,
table.custom-table td {
  border-right: 1px solid #dee2e6;
  padding: 8px;
}

table.custom-table th:last-child,
table.custom-table td:last-child {
  border-right: none;
}
