.texts-color-white {
  color: #ffffff;
}

.texts-color-blue {
  color: #4723d9;
}

.texts-color-gray {
  color: #c2c8cf;
}

.texts-color-gray-1 {
  color: #b3b3b3;
}

.texts-color-black-1 {
  color: #171813;
}
